*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

nav{
    background-color: rgb(88, 86, 86);
    padding: 20px;
}

.busqueda{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 30px;
}

h1{
    color: white;
    font-size: 50px;
}

input{
    width: 250px;
    border: none;
}

button{
    width: 100px;
    border: none;
    background-color: rgb(1, 92, 167);
}

.todosPokemon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    gap: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.poke{
    width: 200px;
    height: 200px;
}

.infoPoke{
    background-color: rgb(0, 100, 139);
    padding: 20px 10;
    border-radius: 10%;
}